:root {
	--BG_Color: #080818;
	--FG_Color: #101020;
	--HG_Color: #ff42d6;

	--padding: 85%;
	--padding_mobile: 95%;
}

@font-face {
	font-family: cascadia;
	src: url("./Res/cascadia_code.ttf");
}

@font-face {
	font-family: trebuch;
	src: url("./Res/trebuchet.ttf");
}


body {
	margin: 0;
	padding: 0;
	font-family: cascadia;

	background-color: var(--BG_Color);
	color: aliceblue;

}

a {
	text-decoration: none;
	color: aqua;
}

a:hover {
	color: var(--HG_Color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	display: inline;
}

/* Warning Card */
#warn {
	/* display: none; */

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	background-color: var(--BG_Color);
	;
	padding: 2% 6%;

	border-radius: 2rem;
	box-shadow: 0 0 5rem .5rem rgb(255, 255, 0);
}

.nsfw_warn {
	font-size: 5rem;
	font-weight: 900;
	color: yellow;
}

#continue {
	border: 0;
	margin-top: 10%;
	font-family: cascadia;
	border-radius: 2rem;
	font-size: 4rem;
}


.page {
	font-family: trebuch;
	margin: 0;
	padding: 0;
	filter: blur(2rem);
	transition: filter .2s;
}

/* Title Block */

.page_title {
	text-align: center;
	margin: 9% auto;
	width: var(--padding);

	border-radius: 2rem;

	color: aliceblue;
	background: var(--FG_Color);

	box-shadow: 0 0 2rem 1rem rgb(255, 66, 214);
}

#text_uma {
	margin: 0;
	font-size: 4rem;
}

#text_virmani {
	font-style: italic;
	font-size: 2rem;

	display: block;
	margin: 0;
}



.Title_text {
	display: inline;
	padding: .5rem;
	text-align: center;
	margin-left: 2rem;

	background-color: var(--HG_Color);
	color: var(--FG_Color);

	border-radius: .5rem;
	font-size: 2rem;
	font-weight: 600;
}


#section_about {
	margin: 5rem auto;
	width: var(--padding);
}


#section_pricing {
	margin: 5rem auto;
	width: var(--padding);
}

#section_contact {
	margin: 5rem auto;
	width: var(--padding);
}


/* Description CSS */

.page_desc {
	display: flex;
	justify-content: center;

	border: .1rem;
	border-style: solid;
	border-radius: 2rem;
	box-shadow: 0 0 1rem var(--HG_Color);

	border-color: var(--HG_Color);
	background-color: var(--FG_Color);
}

.page_desc_text {
	padding: 5%;
	font-size: 1.2rem;
}

#page_desc_img {
	margin: -1rem;
	padding: 5%;
}

#uma_profile {
	margin: 0;
	padding: 0;
	border-radius: 50%;
	width: 12rem;
	height: 12.5rem;
	box-shadow:
	0 1rem 2rem red,
	0 2rem 2rem orange,
	0 3rem 2rem yellow,
	0 4rem 2rem green,
	0 5rem 2rem cyan,
	0 6rem 2rem blue,
	0 7rem 2rem indigo,
	0 8rem 2rem violet;
}

/* Price Gallery */
.carousel {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: row;

	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;

	border: .1rem;
	border-style: solid;
	border-color: var(--HG_Color);
	background: var(--FG_Color);
	border-radius: 2rem;
}


.card {
	margin: 2%;
	border-radius: 2rem;
	box-shadow: 0 0 .75rem var(--HG_Color);
}


.card_title {
	padding: .2rem;
	margin: 0rem auto;
	margin-top: -1rem;
	padding: .4rem;

	background: var(--HG_Color);
	color: var(--FG_Color);
	border-radius: .5rem;
	font-size: 1rem;
	width: 50%;
}


.img_container {
	margin-top: 2rem;
}

.img {
	border-radius: 2rem;
	margin: 0 auto;
	width: var(--padding);
}


.card_description {
	position: relative;
	margin: 5%;
	bottom: 1%;
}


.footer {
	font-size: .8rem;
	margin: 2rem auto;
	padding: .5%;

	text-align: center;

	background: var(--FG_Color);
	width: 80%;

	border-radius: 2rem;
	box-shadow: 0 0 .5rem .1rem rgb(255, 66, 214);
}



@media (max-width: 1000px) {
	#section_about {
		width: var(--padding_mobile);
	}

	#section_pricing {
		width: var(--padding_mobile);
	}
	#section_contact {
		width: var(--padding_mobile);
	}
	.carousel {
		flex-direction: column;
	}

	.card {
		margin-top: 10%;
	}

	.img {
		width: 95%;
	}
}
